<?xml version='1.0' encoding='UTF-8'?>
<proxy>
  <name>{{ ops_webproxy.split(':')[0] }}</name>
  <port>{{ ops_webproxy.split(':')[1] }}</port>
  <testUrl>http://updates.jenkins-ci.org/update-center.json</testUrl>
</proxy>
