<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.5.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://{{ hzajenkins_git_token }}:x-oauth-basic@github.com/horizonair/hza-sre.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/develop</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 0 * * *</spec>
    </hudson.triggers.TimerTrigger>
    <hudson.triggers.SCMTrigger>
      <spec></spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

unset http_proxy https_proxy

function clean_and_exit() {
    if [ $? == 0 ]; then
        status=&quot;SUCCESS&quot;
        emoji=&quot;:victory:&quot;
    else
        status=&quot;FAILURE&quot;
        emoji=&quot;:epic_fail:&quot;
    fi
    if [ &quot;$ENVIRONMENT&quot; == &quot;staging&quot; ]
    then
        slackChannel=&quot;hd-softlayer-$ENVIRONMENT&quot;
        export https_proxy=${DATA_CENTER}-0-webproxy-a.hzaops-stage.vmw:3128
    else
        slackChannel=&quot;hd-softlayer-prod&quot;
        export https_proxy=${DATA_CENTER}-0-webproxy-a.hzaops.vmw:3128
    fi

    url=&quot;http://`hostname`:8080/job/$JOB_NAME/$BUILD_NUMBER/console&quot;
    echo &quot;Sending slack notification to $slackChannel&quot;

    curl -s -X POST --data-urlencode &quot;payload={\&quot;channel\&quot;: \&quot;$slackChannel\&quot;, \&quot;username\&quot;: \&quot;jenkins\&quot;, \&quot;text\&quot;: \&quot;Build #$BUILD_NUMBER($JOB_NAME) completed with status: $status in $DATA_CENTER. Logs are available at: $url $emoji\&quot;, \&quot;icon_emoji\&quot;: \&quot;:jenkins:\&quot;}&quot; https://hooks.slack.com/services/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
}

trap clean_and_exit 0

./jenkins/scripts/import_jobs.py -u {{ jenkins_admin_username }} -p {{ jenkins_admin_password }}</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
